name: Build & Deploy Java (Self-Hosted)

on:
  push:
    branches:
      - master
      - develop

env:
  IMAGE_NAME: ekart-backend
  CONTAINER_NAME: ekart-backend
  APP_PORT: 8000

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Maven
        run: mvn clean package -DskipTests

      - name: Build Docker image
        run: docker build -f Dockerfile -t my-java-app:latest .

      - name: Run new container
        run: |
          docker run -d \
            --name my-java-app \
            -p 8000:8000 \
            --restart always \
            -e SPRING_PROFILES_ACTIVE=docker \
            my-java-app:latest

